flows.json
[{"id":"3e50cf35.d724e","type":"tab","label":"InfluxDB","disabled":false,"info":""},{"id":"e26395db.17b348","type":"mqtt-broker","name":"","broker":"ie_databus","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1e474d21.e7e4d3","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"database","name":"influxdb","usetls":false,"tls":"bc3b824b.ec17e","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"bc3b824b.ec17e","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"azure.cer","keyname":"","caname":"azure.cer","servername":"","verifyservercert":true},{"id":"313161ab.62a2c6","type":"mqtt-broker","name":"","broker":"ie-databus","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9bad2c8f.ce0b2","type":"mqtt-broker","name":"","broker":"ie-databus","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4e322fcf.685df","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"database","name":"influxdb","usetls":false,"tls":"f05e9c2b.94029","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"f05e9c2b.94029","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"azure.cer","keyname":"","caname":"azure.cer","servername":"","verifyservercert":true},{"id":"a32d8bac.89301","type":"mqtt-broker","name":"","broker":"192.168.1.132","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bdb91015.69983","type":"mqtt out","z":"3e50cf35.d724e","name":"","topic":"ie/m/j/simatic/v1/s7c1/dp","qos":"","retain":"","broker":"9bad2c8f.ce0b2","x":810,"y":340,"wires":[]},{"id":"b0691bf2.67dff8","type":"inject","z":"3e50cf35.d724e","name":"","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":70,"y":180,"wires":[[]]},{"id":"5265aac0.18e984","type":"function","z":"3e50cf35.d724e","name":"","func":"\nvar obj = {\"seq\":1,\"connections\":[{\"name\":\"PLC_1\",\"type\":\"S7+\",\"dataPoints\":[{\"name\":\"default\",\"topic\":\"ie/d/j/simatic/v1/s7c1/dp/r/PLC_1/default\",\"publishType\":\"bulk\",\"dataPointDefinitions\":[{\"name\":\"Datos_Frecuencia\",\"id\":\"101\",\"dataType\":\"Int\"},{\"name\":\"Datos_L1\",\"id\":\"102\",\"dataType\":\"Real\"},{\"name\":\"Datos_L2\",\"id\":\"103\",\"dataType\":\"Real\"},{\"name\":\"Datos_L3\",\"id\":\"104\",\"dataType\":\"Real\"},{\"name\":\"Datos_ON\",\"id\":\"105\",\"dataType\":\"Bool\"},{\"name\":\"Datos_P_Act\",\"id\":\"106\",\"dataType\":\"Int\"},{\"name\":\"Datos_Dato1\",\"id\":\"107\",\"dataType\":\"Int\"},{\"name\":\"Datos_Dato2\",\"id\":\"108\",\"dataType\":\"Int\"}]}]}]};\nmsg.payload = JSON.stringify(obj);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":320,"wires":[["bdb91015.69983"]]},{"id":"1c1161fd.1f31de","type":"mqtt out","z":"3e50cf35.d724e","name":"","topic":"ie/d/j/simatic/v1/s7c1/dp/r/PLC_1/default","qos":"","retain":"","broker":"9bad2c8f.ce0b2","x":720,"y":420,"wires":[]},{"id":"e876ea82.f79558","type":"influxdb in","z":"3e50cf35.d724e","influxdb":"4e322fcf.685df","name":"SELECT1","query":"SELECT * FROM PLC_1","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":380,"y":700,"wires":[["e3086e01.71eb8"]]},{"id":"bd48cae.5f4e138","type":"inject","z":"3e50cf35.d724e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":680,"wires":[["e876ea82.f79558"]]},{"id":"e3086e01.71eb8","type":"debug","z":"3e50cf35.d724e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":680,"wires":[]},{"id":"743bcd3a.5a7bb4","type":"inject","z":"3e50cf35.d724e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12","payloadType":"str","x":130,"y":800,"wires":[["ec502023.9e4f7"]]},{"id":"89aedc3d.b0ba2","type":"debug","z":"3e50cf35.d724e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":880,"wires":[]},{"id":"ec502023.9e4f7","type":"function","z":"3e50cf35.d724e","name":"","func":"\nmsg.payload = [\n{\n    n_connection1: msg.payload\n}\n];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":800,"wires":[["f5a98720.b8ea68"]]},{"id":"f5a98720.b8ea68","type":"influxdb out","z":"3e50cf35.d724e","influxdb":"4e322fcf.685df","name":"","measurement":"opcua1","precision":"ms","retentionPolicy":"","database":"test","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"my-org","bucket":"test","x":620,"y":820,"wires":[]},{"id":"c328adb5.dee43","type":"inject","z":"3e50cf35.d724e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":1020,"wires":[[]]},{"id":"21e534f1.903bbc","type":"influxdb in","z":"3e50cf35.d724e","influxdb":"4e322fcf.685df","name":"DROP 1","query":"DROP SERIES FROM topic1","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":400,"y":880,"wires":[["89aedc3d.b0ba2"]]},{"id":"84c7b5d6.1a1948","type":"inject","z":"3e50cf35.d724e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":880,"wires":[["21e534f1.903bbc"]]},{"id":"26a7da5.d005326","type":"influxdb in","z":"3e50cf35.d724e","influxdb":"4e322fcf.685df","name":"DROP 2","query":"DROP SERIES FROM topic2","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":400,"y":920,"wires":[["9bbd4218.2bbfd"]]},{"id":"9bbd4218.2bbfd","type":"debug","z":"3e50cf35.d724e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":920,"wires":[]},{"id":"c9fda552.7a1928","type":"inject","z":"3e50cf35.d724e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":920,"wires":[["26a7da5.d005326"]]},{"id":"35ee8cc3.8cb114","type":"influxdb in","z":"3e50cf35.d724e","influxdb":"4e322fcf.685df","name":"SELECT2","query":"SELECT * FROM topic2","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":380,"y":740,"wires":[["e3086e01.71eb8"]]},{"id":"69da5b8a.2a8634","type":"inject","z":"3e50cf35.d724e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":720,"wires":[["35ee8cc3.8cb114"]]},{"id":"fb0c00bb.b2b6d","type":"function","z":"3e50cf35.d724e","name":"","func":"\nvar obj = {\"seq\":1391,\"vals\":[{\"id\":\"101\",\"qc\":3,\"ts\":\"2021-05-17T06:52:42.815Z\",\"val\":58},{\"id\":\"102\",\"qc\":3,\"ts\":\"2021-05-17T06:52:42.815Z\",\"val\":75},{\"id\":\"103\",\"qc\":3,\"ts\":\"2021-05-17T06:52:42.815Z\",\"val\":133},{\"id\":\"104\",\"qc\":3,\"ts\":\"2021-05-17T06:52:42.815Z\",\"val\":78},{\"id\":\"106\",\"qc\":3,\"ts\":\"2021-05-17T06:52:42.815Z\",\"val\":26}]}\nmsg.payload = JSON.stringify(obj);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":420,"wires":[["1c1161fd.1f31de"]]},{"id":"7b19b14d.14b24","type":"inject","z":"3e50cf35.d724e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":420,"wires":[["fb0c00bb.b2b6d"]]},{"id":"363198b3.785338","type":"mqtt in","z":"3e50cf35.d724e","name":"","topic":"ie/m/j/simatic/v1/s7c1/dp","qos":"2","datatype":"json","broker":"313161ab.62a2c6","x":260,"y":560,"wires":[["5e48cf95.32d898"]]},{"id":"5e48cf95.32d898","type":"debug","z":"3e50cf35.d724e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":560,"wires":[]},{"id":"e7dc3eb9.0a34c8","type":"inject","z":"3e50cf35.d724e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":340,"wires":[["5265aac0.18e984"]]},{"id":"5c059a0e.86d79c","type":"function","z":"3e50cf35.d724e","name":"","func":"\nvar obj = {\"seq\":1,\"connections\":[{\"name\":\"PLC_2\",\"type\":\"S7+\",\"dataPoints\":[{\"name\":\"default\",\"topic\":\"ie/d/j/simatic/v1/s7c1/dp/r/PLC_1/default\",\"publishType\":\"bulk\",\"dataPointDefinitions\":[{\"name\":\"Datos_Frecuencia\",\"id\":\"101\",\"dataType\":\"Int\"},{\"name\":\"Datos_L1\",\"id\":\"102\",\"dataType\":\"Real\"},{\"name\":\"Datos_L2\",\"id\":\"103\",\"dataType\":\"Real\"},{\"name\":\"Datos_L3\",\"id\":\"104\",\"dataType\":\"Real\"},{\"name\":\"Datos_ON\",\"id\":\"105\",\"dataType\":\"Bool\"},{\"name\":\"Datos_P_Act\",\"id\":\"106\",\"dataType\":\"Int\"},{\"name\":\"Datos_Dato1\",\"id\":\"107\",\"dataType\":\"Int\"},{\"name\":\"Datos_Dato2\",\"id\":\"108\",\"dataType\":\"Int\"}]}]},{\"name\":\"PLC_1\",\"type\":\"S7+\",\"dataPoints\":[{\"name\":\"default\",\"topic\":\"ie/d/j/simatic/v1/s7c1/dp/r/PLC_1/default\",\"publishType\":\"bulk\",\"dataPointDefinitions\":[{\"name\":\"Datos_Frecuencia\",\"id\":\"101\",\"dataType\":\"Int\"},{\"name\":\"Datos_L1\",\"id\":\"102\",\"dataType\":\"Real\"},{\"name\":\"Datos_L2\",\"id\":\"103\",\"dataType\":\"Real\"},{\"name\":\"Datos_L3\",\"id\":\"104\",\"dataType\":\"Real\"},{\"name\":\"Datos_ON\",\"id\":\"105\",\"dataType\":\"Bool\"},{\"name\":\"Datos_P_Act\",\"id\":\"106\",\"dataType\":\"Int\"},{\"name\":\"Datos_Dato1\",\"id\":\"107\",\"dataType\":\"Int\"},{\"name\":\"Datos_Dato2\",\"id\":\"108\",\"dataType\":\"Int\"}]}]}]};\nmsg.payload = JSON.stringify(obj);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":360,"wires":[["bdb91015.69983"]]},{"id":"56fca6fc.e50bf8","type":"mqtt out","z":"3e50cf35.d724e","name":"","topic":"ie/d/j/simatic/v1/s7c1/dp/r/PLC_2/default","qos":"","retain":"","broker":"9bad2c8f.ce0b2","x":780,"y":460,"wires":[]},{"id":"63ad1dd4.651f44","type":"inject","z":"3e50cf35.d724e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":500,"wires":[["2e795a77.11872e"]]},{"id":"2e795a77.11872e","type":"function","z":"3e50cf35.d724e","name":"","func":"\nvar obj = {\"seq\":1391,\"vals\":[{\"id\":\"101\",\"qc\":3,\"ts\":\"2021-05-17T06:52:42.815Z\",\"val\":58},{\"id\":\"102\",\"qc\":3,\"ts\":\"2021-05-17T06:52:42.815Z\",\"val\":75},{\"id\":\"103\",\"qc\":3,\"ts\":\"2021-05-17T06:52:42.815Z\",\"val\":133},{\"id\":\"104\",\"qc\":3,\"ts\":\"2021-05-17T06:52:42.815Z\",\"val\":78},{\"id\":\"106\",\"qc\":3,\"ts\":\"2021-05-17T06:52:42.815Z\",\"val\":26}]}\nmsg.payload = JSON.stringify(obj);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":500,"wires":[["56fca6fc.e50bf8"]]}]